/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {     min-height: 1000px;
     padding-left:30px;
     padding-top:10px;
     background: #ffffff;


}
.cht{
	width:100%;
}
body {
	@apply text-white;
}
.txt{
font-family: 'Syne';
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 120%;

color: #FFFFFF;
}

