@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Syne:wght@800&display=swap');
body{
    background-color: white;
    
}

.navbar{
display: block;
padding: 10px;
}
.navlogo{
    width:175px;
    margin-left: 70px;
    font-family: 'Golos Text', sans-serif;
    display: inline-block;
    margin-top: 5px;
    
    
}
.a{
    text-decoration: none;
    color:black;
    font-family: 'Golos Text', sans-serif;
    margin-left:36px;
    padding: 10px;
    display: inline-block;
}
a{
    text-decoration: none;
}
.wabtn{
    padding: 16px;
    background-color: #000000;
    color:white;
    border: none;
    width:247px;
    font-family: 'Golos Text', sans-serif;
    font-weight: 100px;
    border-radius: 10px;
    float: right;
    margin-right:30px;
}
.botbtn{
    float: right;
    border-style: none;
    font-family: 'Syne';
    font-style: normal;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 16px 44px;
    gap: 10px;
    color:white;
    left: 9.24%;
    right: 66.94%;
    top: 57.42%;
    bottom: 37.3%;
    width:220px;
     background: #011AFC;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-right: 10px;
    }
.ecimg{
    width:200px;
    margin-left: 10%;
}
.card{
    background:#011bfe;
    width:250px;
    border-radius: 20px;
    margin-top: 100px;
    height: 250px;
    margin-left: 7%;
    margin-top: -200px;

}
.right{
    padding: 40px;
}
.col{
    margin-top: 50px;
    margin-left: 7%;
    height: fit-content;
}
.left{
    padding: 10px;
    height: auto;
}
w-layout-grid social-grid{padding:10px;}
.botdesc{
    width: 90%;
    font-family: 'Golos Text', sans-serif;
    font-style: normal;
    height: auto;
}
.botname{ 
    
 }
.subtxt{
    font-family: 'Syne';
    font-style: normal;
    color: #011bfe;
    font-size: 30px;
}
.txt{
    font-family: 'Syne';
    font-style: normal;
    color: #011bfe;
    font-size:60px;
}
@media only screen and (max-width: 1020px)  {
    .wabtn{
        display: none;
    }
    }
@media only screen and  (max-width:740px) {
    .wabtn{
        display: none;
    }
    .botbtn{
        display: none;
    }
    .a{
        display: none;
    }

}
